<app-note-search #searchComponent></app-note-search>
<ul class="list-group" *ngIf="loaded && notes.length > 0">
  <!-- if theres no notes in search results, show all notes -->
  <div *ngIf="searchComponent.notes.length == 0">
    <li
      *ngFor="let note of notes"
      [class.list-group-item-secondary]="selectedNote === note"
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      <a (click)="onSelect(note)" href="#">{{ note.title }}</a>
      <!-- expand note here -->
      <span class="note-date">{{ note.date | date: "short" }}</span>
      <i (click)="onDelete(note)" class="fa fa-remove"></i>
    </li>
  </div>
  <!-- if theres is notes in search results, show search result notes -->
  <div *ngIf="searchComponent.notes.length !== 0">
    <li
      *ngFor="let note of searchComponent.notes"
      [class.list-group-item-secondary]="selectedNote === note"
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      <a (click)="onSelect(note)" href="#">{{ note.title }}</a>
      <!-- expand note here -->
      <span class="note-date">{{ note.date | date: "short" }}</span>
      <i (click)="onDelete(note)" class="fa fa-remove"></i>
    </li>
  </div>
</ul>
<div *ngIf="loaded && notes.length == 0">
  <h5>There are no notes in the system</h5>
</div>

<div *ngIf="!loaded"><h5>Loading...</h5></div>
