<form [formGroup]="noteForm" (ngSubmit)="onSubmit()">
  <div class="form-group row" hidden>
    <div class="col-sm-12">
      <input type="text" class="form-control" formControlName="id" placeholder="Id" />
    </div>
  </div>

  <div class="form-group row" hidden>
    <div class="col-sm-12">
      <input type="text" class="form-control" formControlName="userId" placeholder="User Id" />
    </div>
  </div>

  <div class="form-group row" hidden>
    <div class="col-sm-12">
      <input type="datetime" class="form-control" formControlName="timeStamp" placeholder="Timestamp" />
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-12">
      <input type="text" class="form-control" formControlName="title" placeholder="Note title" />
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-12">
      <textarea rows="15" cols="100" class="form-control" formControlName="content" placeholder="Note content"></textarea>
    </div>
  </div>

  <div class="form-group row parent">
    <div formArrayName="tags">
      <i class="mb-3 ml-3 fa fa-plus child inline-block-child" (click)="addTag()" data-toggle="tooltip" title="More tags..."></i>

      <div *ngIf="tags.length > 0">
        <div *ngFor="let tag of tags.controls; let i = index">
          <div>
            <div class="child inline-block-child">
              <input type="text" class="form-control ml-3" [formControlName]="i" placeholder="Tag" />
            </div>
            <div class="child inline-block-child">
              <i (click)="deleteTag(i)" class="ml-3 fa fa-minus" data-toggle="tooltip" title="Delete tag..."></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--
    div class="form-check form-check-inline">
      <label>
        Shared <input type="checkbox" class="form-check-input" formControlName="shared" ng-true-value=true
          ng-false-value=false/>
      </label>
    </div
  -->

  <button type="submit" class="form-control btn btn-primary mb-3" [disabled]="!noteForm.valid">
    Submit
  </button>
  <button type="button" class="form-control btn btn-small btn-secondary" (click)="clearState()">
    Clear Form
  </button>
</form>