
  
 
  .radio-wrapper {
    width: 125px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 30px;
    position: relative;
    margin-left: 1%;
  }
  .radio-wrapper p {
    position: absolute;
    z-index: 10;
    color: white;
    font-size: 1.7em;
    margin: 0;
    margin-top: 13px;
  }
  .radio-wrapper .content {
    left: 17px;
    top: -2px;
  }
  .radio-wrapper .tags {
    right: 17px;
    top: -2px;
  }
  .radio-wrapper .tags-icon {
    left: 52px;
    top: 0px;
    opacity: 1;
    color: black;
    font-size: 6px;
  }

  .radio-wrapper .titles-icon {
    left: 85px;
    top: 0px;
    opacity: 1;
    color: black;
    font-size: 6px;
  }

  .radio-wrapper .contents-icon {
    left: 0px;
    top: 0px;
    opacity: 1;
    color: black;
    font-size: 10px;
  }
  .radio-wrapper label {
    z-index: 9;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  i {
    z-index: 99;
    font-size: 18px;
  }
  
  .tags-icon i {
    font-size: 10px;
  }
  
  .tags + label {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    left: 33%;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
  }
  
  .tags:checked + label {
    border: 2px solid black;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #eeeeee;
    background: linear-gradient(to bottom, #eeeeee 0%, #cccccc 100%);
  }
  
  .titles + label {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    text-align: center;
  }
  
  .titles:checked + label {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #20d532;
    background: linear-gradient(to bottom, #20d532 0%, #1cc301 100%);
    -moz-animation-duration: 0.4s;
    -moz-animation-name: slidein;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-name: slidein;
    animation-duration: 0.4s;
    animation-name: slidein;
    -webkit-transform: translateZ(0);
  }
  
  .contents + label {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    text-align: center;
  }
  
  .contents:checked + label {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #20d532;
    -moz-animation-duration: 0.4s;
    -moz-animation-name: slideno;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-name: slideno;
    animation-duration: 0.4s;
    animation-name: slideno;
    -webkit-transform: translateZ(0);
    background: #20d532;
    background: linear-gradient(to bottom, #e66c67 0%, #dd4f4b 100%);
  }
  
  @-webkit-keyframes slidein {
    from {
      -webkit-transform: translate(50px, 0);
              transform: translate(50px, 0);
    }
    to {
      -webkit-transform: translate(0px, 0px);
              transform: translate(0px, 0px);
    }
  }
  
  @keyframes slidein {
    from {
      -webkit-transform: translate(50px, 0);
              transform: translate(50px, 0);
    }
    to {
      -webkit-transform: translate(0px, 0px);
              transform: translate(0px, 0px);
    }
  }
  @-webkit-keyframes slideno {
    from {
      -webkit-transform: translate(-50px, 0);
              transform: translate(-50px, 0);
    }
    to {
      -webkit-transform: translate(0px, 0px);
              transform: translate(0px, 0px);
    }
  }
  @keyframes slideno {
    from {
      -webkit-transform: translate(-50px, 0);
              transform: translate(-50px, 0);
    }
    to {
      -webkit-transform: translate(0px, 0px);
              transform: translate(0px, 0px);
    }
  }
  @-webkit-keyframes returnLeft {
    from {
      -webkit-transform: translate(-50px, 0);
              transform: translate(-50px, 0);
    }
    to {
      -webkit-transform: translate(0px, 0);
              transform: translate(0px, 0);
    }
  }
  @keyframes returnLeft {
    from {
      -webkit-transform: translate(-50px, 0);
              transform: translate(-50px, 0);
    }
    to {
      -webkit-transform: translate(0px, 0);
              transform: translate(0px, 0);
    }
  }
  @-webkit-keyframes returnRight {
    from {
      -webkit-transform: translate(50px, 0);
              transform: translate(50px, 0);
    }
    to {
      -webkit-transform: translate(0px, 0);
              transform: translate(0px, 0);
    }
  }
  @keyframes returnRight {
    from {
      -webkit-transform: translate(50px, 0);
              transform: translate(50px, 0);
    }
    to {
      -webkit-transform: translate(0px, 0);
              transform: translate(0px, 0);
    }
  }
  