<div class="form-group row">

  <!-- test -->


  <div class="radio-wrapper">



    <input type="radio" name="event" class="titles" id="radio-titles" (click)="input.target='title'" />
    <label for="radio-titles">titles</label>


    <input type="radio" name="event" class="tags" checked id="radio-tags" (click)="input.target='tag'" />
    <label for="radio-tags">tags</label>

    <input type="radio" name="event" class="contents" id="radio-contents" (click)="input.target='content'" />
    <label for="radio-contents">contents</label>
  </div>
  <br>
  {{input.target}}

  <!-- test -->

  <input id="query" type="text" class="form-control ml-3 mr-3 mt-3" (keyup)="search($event)" [ngStyle]="{
      backgroundColor: this.notes.length > 0 ? '#c4f4b1' : '#f4b1b1'
    }"
    placeholder="Search by tag..." />
</div>